body {
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    background-color: #a1a1a1;
}

.screen{
    height: 90vh;
    max-width: 600px;
    margin: auto;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
}

header h1{
    /* padding-top: 1px; */
    /* height: 10%;  */
}

.chat-container {
    width: 100%;
    max-width: 490px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    padding: 10px;
    gap: 10px;
    overflow-y: auto; /* Enable scrolling on the y-axis */


    /* Add a border and depth to the chat container */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #1e90ff;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* height: 10%;  */
}

.message {
    background-color: #f1f1f1;
    padding: 0 10px;
    border-radius: 5px;
    max-width: 70%; /* Limit the width of message boxes to 70% of the container width */
}

.message.user {
    align-self: flex-end;
    background-color: #4caf50;
    color: white;
}

.message.other { /* Add a new rule for the other person's messages */
    align-self: flex-start;
}